<div class="ds-box options_record_panel orient-v fn-hide" data-role="options_record_panel">
    <div class="ds-box pack-justify panel_head" data-role="record_panel_head">
        <div class="panel_head_option"></div>
        <div class="panel_head_title" data-role="panel_head_title">聊天记录</div>
        <div class="panel_head_option" data-role="panel_head_close">关闭</div>
    </div>
    <div class="ds-box panel_body flex-1" data-role="record_panel_body">
        <div class="ds-box pack-center record_part_empty flex-1" data-role="all_empty">----未选择商家----</div>
        <div class="ds-box orient-v record_buyer_list fn-hide" data-role="record_buyer_list"></div>
        <div class="ds-box orient-v record_ops flex-1 fn-hide" data-role="record_ops">
            <div class="ds-box orient-v extra pack-center">
                <!--div class="ds-box flex-1 ops fn-hide">
                    <div class="ds-box align-center add_to_list" data-role="record_add_to_list">发起会话</div>
                </div-->
                <div class="more fn-hide" data-role="record_more">查看更多消息</div>
                <div class="more fn-hide" data-role="record_more_load">加载中</div>
                <div class="more fn-hide" data-role="record_more_end">没有更多的记录</div>
            </div>
            <div class="ds-box orient-v record_buyer_msg flex-1" data-role="record_buyer_msg"></div>
        </div>


        </div>

</div>