{{#each data}}
    {{#compare direct "==" "yuebuyer"}}
        {{#compare pack.media_type "==" "text"}}
            <div class="ds-box orient-h pack-end window_child receive">
                <div class="ds-box orient-v icon_list">
                    <img src="{{pack.default_img}}" style="height: 40px;width: 40px" data-async-window-img="{{pack.send_user_id}}"/>
                </div>
                <div class="ds-box flex-1 info pack-start">
                    <div class="info-content flex-1" data-role="for_face_choose" data-face-scan="0">
                        {{pack.content}}
                    </div>
                </div>

            </div>
        {{/compare}}
        {{#compare pack.media_type "==" "photo"}}
            <div class="ds-box orient-h pack-end window_child receive">
                <div class="ds-box orient-v icon_list">
                    <img src="{{pack.default_img}}" style="height: 40px;width: 40px" data-async-window-img="{{pack.send_user_id}}"/>
                </div>
                <div class="ds-box flex-1 info pack-start" data-full-url="{{pack.file_url}}">
                    <div class="info-content flex-1">
                        <img src="{{#if pack.preview_src}}{{pack.preview_src}}{{else}}{{pack.file_url}}{{/if}}" style="width: 30%" data-role="scan_photo" data-reload="{{#if pack.preview_src}}{{pack.preview_src}}{{else}}{{pack.file_url}}{{/if}}"/>
                        <div class="ds-box img_patch"><div class="reload" data-role="img_reload">重新加载</div></div>
                    </div>
                </div>
            </div>
        {{/compare}}
        {{#compare pack.media_type "==" "sound"}}
            <div class="ds-box orient-h pack-end window_child receive">
                <div class="ds-box orient-v icon_list">
                    <img src="{{pack.default_img}}" style="height: 40px;width: 40px" data-async-window-img="{{pack.send_user_id}}"/>
                </div>
                <div class="ds-box flex-1 info pack-start" data-full-url="{{pack.file_url}}">
                    <div class="info-content flex-1">
                        <div data-role="play_sound" data-sound-url="{{pack.file_url}}">
                            <div class="sound_click" data-role="sound_click">---这是一段语音---</div>
                            <audio class="fn-hide" controls="controls" type="audio/mp3" src="" data-role="sound_line"></audio>
                        </div>
                    </div>
                </div>
            </div>
        {{/compare}}
        {{#compare pack.media_type "==" "merchandise"}}
            <div class="ds-box orient-h pack-end window_child receive">
                <div class="ds-box orient-v icon_list">
                    <img src="{{pack.default_img}}" style="height: 40px;width: 40px" data-async-window-img="{{pack.send_user_id}}"/>
                </div>
                <div class="ds-box flex-1 info pack-start">
                    <div class="ds-box info-content flex-1 pack-start">
                        <div class="ds-box merchandise_con">
                            <div class="ds-box align-center" style="font-size: 0px">
                                <img src="{{pack.file_small_url}}" style="width: 60px"/>
                            </div>
                            <div class="ds-box orient-v flex-1 merchandise_con_info pack-center">
                                <div class="info_title">{{pack.card_text1}}</div>
                                <div class="info_price">{{pack.card_text2}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/compare}}
        {{#compare pack.media_type "==" "card"}}
            <div class="ds-box orient-h pack-end window_child receive">
                <div class="ds-box orient-v icon_list">
                    <img src="{{pack.default_img}}" style="height: 40px;width: 40px" data-async-window-img="{{pack.send_user_id}}"/>
                </div>
                <div class="ds-box flex-1 info pack-start">
                    <div class="ds-box info-content flex-1 pack-start">
                        <div class="ds-box merchandise_con">
                            <div class="ds-box orient-v flex-1 merchandise_con_info pack-center">
                                <!--div class="info_title">{{pack.card_title}}</div-->
                                <div class="info_title">{{pack.card_text1}}</div>
                                <div class="info_price">{{pack.card_text2}}</div>
                            </div>
                        </div>
                        {{#compare pack.card_title "==" "接受或拒绝"}}
                            <div class="ds-box control_order align-center" data-wifi-url="{{pack.wifi_url}}" data-send-user-id="{{pack.send_user_id}}" data-to-user-id="{{pack.to_user_id}}">
                                <div class="control_btn except" data-role="control_btn" data-control-type="except">接受</div><div class="control_btn deny" data-role="control_btn" data-control-type="deny">拒绝</div>
                            </div>
                        {{/compare}}
                    </div>
                </div>
                <div class="fn-hide">{{pack.card_title}},card_title作卡片区分</div>

            </div>
        {{/compare}}
    {{/compare}}
    {{#compare direct "==" "yueseller"}}
        {{#compare pack.media_type "==" "text"}}
            <div class="ds-box orient-h pack-start window_child send">
                <div class="ds-box flex-1 info pack-end">
                    <div class="info-content flex-1" data-role="for_face_choose" data-face-scan="0">
                        {{pack.content}}
                    </div>
                </div>
                <div class="ds-box orient-v icon_list">
                    <img src="{{pack.default_img}}" style="height: 40px;width: 40px" data-seller-window-img="{{pack.send_user_id}}"/>
                </div>
            </div>
        {{/compare}}
        {{#compare pack.media_type "==" "merchandise"}}
            <div class="ds-box orient-h pack-end window_child send">
                    <div class="ds-box flex-1 info pack-start">
                        <div class="ds-box info-content flex-1 pack-end">
                            <div class="ds-box merchandise_con">
                                <div class="ds-box align-center" style="font-size: 0px">
                                    <img src="{{pack.file_small_url}}" style="width: 60px"/>
                                </div>
                                <div class="ds-box orient-v flex-1 merchandise_con_info pack-center">
                                    <div class="info_title">{{pack.card_text1}}</div>
                                    <div class="info_price">{{pack.card_text2}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="ds-box orient-v icon_list">
                    <img src="{{pack.default_img}}" style="height: 40px;width: 40px" data-seller-window-img="{{pack.send_user_id}}"/>
                </div>
            </div>
        {{/compare}}
        {{#compare pack.media_type "==" "photo"}}
            <div class="ds-box orient-h pack-end window_child send">
                <div class="ds-box flex-1 info pack-end">
                    <div class="info-content flex-1">
                        <img src="{{#if pack.preview_src}}{{pack.preview_src}}{{else}}{{pack.file_url}}{{/if}}" style="width: 30%" data-role="scan_photo" data-reload="{{#if pack.preview_src}}{{pack.preview_src}}{{else}}{{pack.file_url}}{{/if}}"/>
                        <div class="ds-box img_patch pack-end"><div class="reload" data-role="img_reload">重新加载</div></div>
                    </div>
                </div>
                <div class="ds-box orient-v icon_list">
                    <img src="{{pack.default_img}}" style="height: 40px;width: 40px" data-seller-window-img="{{pack.send_user_id}}"/>
                </div>
            </div>
        {{/compare}}

    {{/compare}}

{{/each}}