body{
    font: 16px "SimSun", Tahoma, Arial, sans-serif;
    border: medium none;
    margin: 0;
    padding: 0;
}
.client_main{

}
.head_list{
    width: 300px;
}
.seller_list{
    height: 900px;
    overflow-y:auto;
    overflow-x: hidden;
    border-right: 1px solid #f2f2f2;
}
.seller_list > .seller_list_item{
    height: 60px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}
.buyer_list{
    height: 900px;
    overflow-y:auto;
    overflow-x: hidden;
    width: 200px;
}
.buyer_list > .buyer_list_item{
    height: 60px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}
.buyer_list_item > img{
    margin-left: 10px;
}