<div class="ds-box orient-v pack-center pics_scan fn-hide" data-role="pics_scan">
    <div class="ds-box pack-center img_con">
        <img data-role="inner_pics" style="width: 100%"/>
    </div>
</div>