{{#each data}}
    <div class="ds-box pack-justify words_text_item align-center" data-text-id="{{text_id}}">
        <div class="ds-box inner_text flex-1" data-send-text="{{text}}">{{text}}</div>
        <div class="inner_send" data-role="text-send">发送</div>
    </div>
{{/each}}