<div class="ds-box orient-v options_words_panel fn-hide" data-role="options_words_panel">
    <div class="ds-box words_part_head pack-justify">
        <div class="ds-box tags flex-1 align-center"  data-role="options_words_tags"></div>
        <div class="ds-box pack-center align-center go_to_edit" data-role="go_to_edit">编辑</div>
    </div>
    <div class="words_part_body" data-role="options_words_body">
        <div class="text_body_empty">----未选择日常用语标签----</div>
    </div>
</div>